.body {
    font-family: "Times New Roman", Arial, Helvetica, sans-serif, monospace;
    flex: 1;
    display: flex;
    flex-direction: column;
}

button {
    background-color:#3882f6;
    color:#e5e7eb;
    border-radius: 25px;
    max-width: 100px;
}

.header, .footer{
    display: flex;
    background-color: #1f2937;
}

.header {
    flex-direction: column;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: row;
}

.bottom {
    display: flex;
}

.head-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1-head {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}

a {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
}

li {
    padding: 20px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.title2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 25px;
}

.info2 {
    max-width: 200px;
}

img {
    height: 150px;
    width: auto;
    border-radius: 25px;
    border: 2px solid #3882f6;
}

.main2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.main3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.main3-head {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    flex: 1 0 auto;
    width: 800px;
    height: auto;
}

.quote-end {
    align-self: flex-end;
    margin-right: 200px;
}

.main4 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.container4 {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left4 {
    display: flex;
    flex-direction: column;
}

.cta {
    color:#e5e7eb;
}

.signup4 {
    display: flex;
    border-color:#e5e7eb;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}


.footer {
    justify-content: center;
    padding: 25px;
}

